body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
     background: radial-gradient(#d1c7c7, #6269b8);
}


h1{
    color: rgb(32, 33, 36);
    font-size: 35px;
    font-weight: 400;
     line-height: 28px;
    margin: bottom;
   
}

ul {
    margin: 0 0 20px;
    padding: 0;
}

li{
    color: rgb(32, 33, 36);
list-style: none;
    font-size: 16px;
   font-weight: 100;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

li:first-letter {
   text-transform: capitalize; 
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;

}

.weather-icon {
    margin-top: 0;
}

.container-temp



.weather-app-wrapper {
max-width: 500px;
margin: 20px auto;
}

.overview {
margin-bottom: 20px;
}

.weather.temperature strong {
    color: rgb(32, 33, 36);
    font-size: 65;
    line-height: 1;
    font-weight: 400;
}

.weather.temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather.temperature .units {
    position: relative;
    font-size: 30;
    top: 34px;
}

.weather.temperature .active {
    color: rgb(32, 33, 36);
    cursor: default;
}

.weather.temperature .active:hover {
   text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
}
